.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  #p{
    color: black;
  }
  #head
  {
    height: 75%;
    width: 100%;
    background-color: darkslategray;
    margin: 16px auto;
    padding-bottom: 30px;
  }
  input{
    padding: 15px;
    width: 50%;
    margin: 20px auto;
    margin-bottom: 20px;
  
  }
  #btn1{
    padding: 15px;
    margin: 15px auto;
    margin-left: 15px;
    width: 3%;
    background-color: floralwhite;
    color: darkslategray;
  }
  .crossed-line {
    text-decoration: line-through;
  }
  #body
  {
    width: 50%;
      background:lightgray;
      padding: 15px;
      margin: 6px 0; 
      font-size: large;
      margin-left: 450px;
  }
  #i1,#i2,#i3{
  float: right;
  margin-left: 20px;
  cursor: pointer;
  }
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  